<% include ../partials/header %>

<div class="container">
        <div style=" margin: 25px auto;">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><%= selected.title %></h4>
                    
                    <p class="card-text"><%= selected.description %></p>
                    <h6 class="card-subtitle mb-2 text-muted">Submit by <%= selected.author.username %></h6>
                    <small class="text-muted"><%= selected.date %></small>
                    <a href="#" class="btn btn-danger btn-sm" style="float: right; margin-left: 4px;">Delete</a>
                    <a href="/blog/<%= selected.id %>/edit" class="btn btn-warning btn-sm" style="float: right;">Edit</a>  
                    <br><a href="/blog">Go Back</a> 
                </div>
            </div>
        </div>
</div>
    
<% include ../partials/footer %>